<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rank List</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://algo.codemarshal.org/assets/screen-e9aaf2ed8080ea7a749f656908767310.css" />
</head>

<body onload="update()">
    <div id="wrap">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header"></div>
            </div>
        </nav>
        <div id="alerts"></div>
        <div id="content" class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2>Rank List</h2>
                    <div class="h3"></div><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-problems">
                        <div class="panel-heading">
                            <h3 class="panel-title">Standings</h3>
                        </div>
                        <div class="table-responsive">
                            <table data-reload="no" class="table table-standings">
                                <thead>
                                    <tr>
                                        <th rowspan="2" style="vertical-align: middle;">#</th>
                                        <th rowspan="2" style="vertical-align: middle;">Name</th>
                                        <th rowspan="2" style="width: 64px;"></th>
                                        <th rowspan="2" style="width: 24px;"></th>
                                    </tr>
                                    <tr>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>